@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-300;
  }
  h1 {
    @apply text-xl border-gray-400 border-b-2 pb-2 mb-2 flex items-center space-x-2;
  }
  h2 {
    @apply text-lg;
  }
  h3 {
    @apply text-gray-500 text-sm;
  }
  h4 {
    @apply mt-2 font-medium text-gray-500;
  }
  p {
    @apply py-1;
  }
}

@layer components {
  .wrapper {
    height: 297mm;
    width: 210mm;
    margin: auto;
    @apply shadow p-8 flex-col flex my-12 bg-gray-50;
  }
  .divider {
    width: 100%;
    @apply border-b-2 border-gray-600;
  }
  .block {
    @apply px-4;
  }
}

@media print {
  .wrapper {
    margin: 0;
    page-break-after: auto;
    box-shadow: none;
    height: auto;
  }
  body {
    @apply bg-gray-50;   
  }
}